<div class="message-list">
    {% for message in messages %}
    <div class="message">
        {% if message.is_opened %}
        <h3><a href="">{{ message.subject }}</a></h3>
        {% else %}
        <h3>🔒 <a href="">Noch nicht geöffnet</a></h3>
        {% endif %}
        <div class="meta">
            <div class="meta--field">
                2021-01-09 21:29
            </div>
            <div class="meta--field">
                {{ message.author.name }}
            </div>
            <div class="meta--field">
                {{ message.author.full_handle }}
            </div>
        </div>
    </div>
    {% else %}
    <p>Leider noch keine Nachrichten in dieser Kategorie.</p>
    {% endfor %}
</div>