<div class="message-list">
    {% for message in messages %}
    <div class="message">
        {% if message.is_opened %}
        <h3><a href="{{ url_for('inbox.message', id=message.id) }}">{{ message.subject }}</a></h3>
        {% else %}
        <h3 class="unopened">🔒 <a href="{{ url_for('inbox.message', id=message.id) }}">Noch nicht geöffnet</a></h3>
        {% endif %}
        <div class="meta">
            <div class="meta--field">
                🕒 {{ message.sent_date }}
            </div>
            <div class="meta--field">
                👤 {{ message.author.name }}
            </div>
            <div class="meta--field">
                {{ message.author.full_handle }}
            </div>
            <div class="meta--field">
                📁 {{ {'inbox': 'Posteingang', 'sent': 'Gesendete Nachrichten', 'deleted_inbox': 'Gelöschte Nachrichten', 'deleted_sent': 'Gelöschte Nachrichten'}[message.postbox] }}
            </div>
        </div>
    </div>
    {% else %}
    <p>Leider noch keine Nachrichten in dieser Kategorie.</p>
    {% endfor %}
</div>