<div class="message-list">
    <div class="message">
        <h3><a href="">Hello World!</a></h3>
        <div class="meta">
            <div class="meta--field">
                2021-01-09 21:29
            </div>
            <div class="meta--field">
                luap42@localhost:5000
            </div>
        </div>
    </div>
    <div class="message">
        <h3 class="unopened">🔒 <a href="">Noch nicht geöffnet</a></h3>
        <div class="meta">
            <div class="meta--field">
                2021-01-09 21:29
            </div>
            <div class="meta--field">
                luap42@localhost:5000
            </div>
        </div>
    </div>
</div>