{% extends "layout/application.html" %}
{% block body %}
<a href="{{ url_for('inbox.index') }}" class="nav-btn">&laquo; Zurück zum Posteingang</a>
{% if mobj.postbox in ['inbox', 'sent'] %}
    <a href="{{ url_for('send.index', subject='Re: ' + message.Subject, reply_to=message.Author) }}" class="button is-right-btn">Antworten</a>
    <a href="{{ url_for('inbox.tds', id=mobj.id) }}" class="button secondary is-right-btn">Löschen</a>
{% else %}
    <a href="{{ url_for('inbox.tds', id=mobj.id) }}" class="button is-right-btn">Wiederherstellen</a>
{% endif %}
<h1>{{ message.Subject }}</h1>
<div class="meta">
    <div class="meta--field">
        🕒 {{ mobj.sent_date }}
    </div>
    <div class="meta--field">
        👤 {{ mobj.author.name }}
    </div>
    <div class="meta--field">
        <a href="{{ url_for('contact.user', handle=mobj.author.full_handle) }}">{{ mobj.author.full_handle }}</a>
    </div>
    <div class="meta--field">
        📁 {{ {'inbox': 'Posteingang', 'sent': 'Gesendete Nachrichten', 'deleted_inbox': 'Gelöschte Nachrichten', 'deleted_sent': 'Gelöschte Nachrichten'}[mobj.postbox] }}
    </div>
</div>

{% if mobj.postbox not in ['inbox', 'sent'] %}
<div class="error">Die Nachricht wurde gelöscht. Du kannst sie aber wiederherstellen.</div>
{% else %}
<div id="pdf_view"></div>
<script src="{{ url_for('static', filename='pdfobject/pdfobject.min.js') }}"></script>
<script>PDFObject.embed("{{ url_for('inbox.message_pdf', id=mobj.id) }}", "#pdf_view",
                        { forcePDFJS: true, PDFJS_URL: "{{ url_for('static', filename='pdfjs/web/viewer.html') }}"});</script>
{% endif %}
{% endblock %}