{% extends "layout/application.html" %}
{% block body %}
<a href="{{ url_for('inbox.index') }}" class="nav-btn">&laquo; Zurück zum Posteingang</a>
<h1>{{ m.subject }}</h1>
<div class="meta">
    <div class="meta--field">
        🕒 {{ m.sent_date }}
    </div>
    <div class="meta--field">
        👤 {{ m.author.name }}
    </div>
    <div class="meta--field">
        {{ m.author.full_handle }}
    </div>
    <div class="meta--field">
        📁 {{ {'inbox': 'Posteingang', 'sent': 'Gesendete Nachrichten', 'deleted_inbox': 'Gelöschte Nachrichten', 'deleted_sent': 'Gelöschte Nachrichten'}[m.postbox] }}
    </div>
</div>

{% if m.postbox in ['inbox', 'sent'] %}
<p>Willst du diese Nachricht wirklich entfernen?</p>
{% else %}
<p>Willst du diese Nachricht wiederherstellen?</p>
{% endif %}

<form action="" method="POST">
    <button type="submit" class="button">Bestätigen</button>
    <a href="{{ url_for('inbox.message', id=m.id) }}" class="button secondary">Abbrechen</a>
</form>
{% endblock %}